.newRecipe {
    width: 40%;
}
.inputFields {
    text-align: left;
}
.inputFields__title {
    margin-bottom: 20px;
}
.inputFields__title h3 {
    float: left;
    width: 15%;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}
.inputFields__title input {
    text-align: left;
    width: 80%;
    height: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.inputFields__steps {
    text-align: left;
}

.inputFields__steps h3 {
    float: left;
    width: 15%;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}
.inputFields__steps input {
    text-align: left;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    outline: none;
    margin-bottom: 15px;
}
.inputFields__steps button {
   
}
.inputFields__ingredients {
    text-align: left;
}
.inputFields__ingredients__name {
    float: left;
    margin-top: 0;

    width: 15%;
}

.inputFields__ingredients__amount {
    float: left;
    margin-top: 0;
    width: 15%;
}

.inputFields__ingredients__unit {
    float: left;
    margin-top: 0;
    width: 15%;
}

.inputFields__ingredients input {
    text-align: left;
    width: 80%;
    height: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin-bottom: 15px;
}

@media (max-width: 1100px) {
    .newRecipe {
        width: 80%;
    }
    .inputFields__title h3 {
        float: none;
    }
    .inputFields__title input {
        width: 90%;
    }
    .inputFields__steps input {
        width: 90%;
    }
    .inputFields__steps h3 {
        float: none;
    }
    .inputFields__ingredients input {
        width: 90%;
    }
}
